@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
*{
    font-family: 'AR One Sans', sans-serif;
}
.container{
display: grid;
grid-template-areas: 
"header header header "
"main main main"
"dcpn dcpn dcpn"
"footer footer footer";
}
.header{
display: grid;
grid-area: header;
grid-template-columns:repeat(3,650px) ;
align-items: center;
justify-content: space-evenly;
font-size: 25px;
background-color: #ffffff;
box-shadow: 0px 2px 5px #71b617;
color: white;
padding: 5px;
}
.logo>img{
height: 100px;
width: 200px;
}
.hbac{
   display: grid;
   grid-template-columns: repeat(4,120px);
   grid-column-gap: 10px;
   justify-content: center;
}
.link>a{
    text-decoration: none;
    color: #13c709;
}
.login{
display: grid; 
justify-self:flex-end;
    }
button{
text-decoration: none;
font-size: 20px;
padding: 15px 80px 15px 80px;
background-color: #4cd622;
color: #ffffff;
border: none;
border-radius: 5px;
}
.main{
    display: grid;
    grid-area: main;
    justify-content: center;
    align-items: center;
}
.dcpn{
    display: grid;
    grid-area: dcpn;
    background: linear-gradient(#94fd72,#48ff48);
    color: #000000;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,950px);
    justify-content: space-between;
    align-items: center;
}
.head>h1{
    text-align: center;
    font-size: 50px;
}
.cont1{
    font-size: 35px;
    margin-left: 30px;
    font: weight 100px;  
}

.cont2{
    justify-self:flex-end;
}
.cont2>img{
    height: 300px;
    width: 400px;
}
.slide-container{
    position: relative;
    width: 100vw;
    height: 700px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}
.slide-container .slides{
    width: 100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
} 
.dotsContainer{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.dotsContainer .dot{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.dotsContainer .active{
    background-color: #555;
}

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}

@media screen and (max-width:920px) {
    .main{
        display: flex;
        flex-direction: column;
    }
    .info{
        padding-left: 50px;
        align-self: self-start;
    }
    .infopara{
        width: 700px;
    }
    .pic{
     justify-self:center;
     align-self: flex-start;     
    }
    .footer{
        display: flex;
        flex-direction: column;
        background-color: white;
        color: black;
        justify-self: flex-start;
        align-self: center;
    }
    .header>div{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
.hd{
    text-align: center;
    font-size: 30px;
    color:rgb(201, 141, 63);
}
.pds{
    display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-evenly;
        padding: 20px;

}
h2{
    font-size: 50px;
    font-weight: bold;
    color: rgb(138, 93, 35);
}
p.para {
    font-size: 20px;
    max-width: 350px;
    
}
.footer{
    margin-top: 50px;
    background-color: rgb(90, 52, 4);
    grid-area: footer;
}
.foot{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
    color: #82d82b;
    margin: 50px;
    padding: 50px;
    height: 40vh;
    bottom: 0px;
}
.lp{
 align-self: center;
}
.lp>img{
    height: 200px;
    width: 350px;
}
.nav>h3{
   font-size: 40px;
}
.navlink{
    display: grid;
}
.nav>a{
    text-decoration: none;
    font-size: 25px;
    color: #82d82b;
}
.othlink{
    font-size: 25px;
    color: #82d82b;
}
.othlink>a{
    text-decoration: none;
    font-size: 30px;
    color: #82d82b;
}
.cr{
    font-size: 30px;
    color: #82d82b;
    text-align: center;
    padding: 20px;
}
